<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4"
		[ngStyle]="{textAlign: 'center'}">

    <mat-tab label="List of JSON file courses">
      <app-json-list></app-json-list>
    </mat-tab>
    <mat-tab label="Buttons to find JSON data">
      <app-json-buttons></app-json-buttons>
    </mat-tab>
</mat-tab-group>